body {
  font-family: Arial, sans-serif;
  max-width: 400px;
  margin: 50px auto;
  text-align: center;
}

input {
  padding: 10px;
  width: 60%;
}

button {
  padding: 10px;
}

li {
  margin-top: 10px;
  list-style: none;
  padding: 6px;
  border: 1px solid #ccc;
  cursor: pointer;
}
